@model IEnumerable<BE_U2_W2_D5_Albergo.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.msgErrore != null)
{
    <div class="alert alert-danger fw-bold my-3" role="alert">
        @ViewBag.msgErrore
    </div>
}
@if (ViewBag.msgSuccess != null)
{
    <div class="alert alert-success fw-bold my-3" role="alert">
        @ViewBag.msgSuccess
    </div>
}

<div class="d-flex">
    <h2 style="margin-right:auto">Lista Clienti</h2>

    <p>
        @Html.ActionLink("Aggiungi cliente", "Create", null, new { @class = "btn", style = "background-color: #f8b17a; color: #ffffff;" })
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellulare)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellulare)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { id = item.IDCliente }, new { @class = "btn btn-default" , style = "border-color: #424769" })
                @Html.ActionLink("Dettagli", "Details", new { id = item.IDCliente }, new { @class = "btn btn-default", style = "border-color: #424769" })
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default", style = "border-color: #424769" })
            </td>
        </tr>
    }

</table>
